.encabezado{
    font-size: 300%;
    text-align: center;
    font-family: "Arial Black"
}
.centrado{
    text-align: center;
    align-content: center;
    font-family: "Arial";
    font-size: 150%
}
.subtitulo{
    text-align: center;
    font-family: "Arial Narrow";
    font-size: 200%
}
.boton{
    width: max-content;
    color: darkgray;
    font-size: 100%;
    align-content: center
}
.campoTexto{
    width: 10%;
    height: 3%
}
